/* TODO: Responsive Mobile */
@media (max-width: 1000px) {

   .navigation {
      transition: height 2s ease;
      overflow: hidden;
   }

   .navigation li {
      display: none;
   }

   .navigation li.threeline-icon {
      display: inline-block;
   }

   .menujs {
      height: 310px;
   }

   .menujs ul {
      height: auto;
      text-align: center;
      padding-right: 15%;
      padding-left: 15%;
   }

   .menujs li {
      display: block;
      border-bottom: solid grey 1px;
      width: 100%;
      padding: 0;
   }

   .capa div {
      display: block;
      height: auto;
   }

   .profile-pic {
      width: 100%;
   }

   .profile-pic img {
      max-width: 75%;
      margin-top: 0;
      max-width: 80%;
   }

   .profile-title {
      text-align: center;
      width: 100%;
   }

   .profile-title h1 {
      margin-top: 30px;
      font-size: 50px;
      margin-left: 20px;
      margin-right: 20px;
   }

   .profile-title h2 {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
   }

   .main {
      padding: 10px 5% 40px 5%;
      overflow-wrap: break-word;
      word-wrap: break-word;
   }

   .main p {
      text-align: left;
      line-height: 30px;
   }

   .caminho li {
      font-size: 12px;
   }

   .cv-pic {
      float: none;
      max-width: 100%;
      margin-right: 0px;
   }

   .miniatura {
      max-width: 100%;
      background-size: auto 100%;
   }

   .blackbox {
      opacity: 0.8;
   }

}