/* TODO: Rede Sociais *****/
.link {
	color: $cor1-azul;
	@extend %u-bold;

	&:active,
	&:focus,
	&:hover {
		color: $cor-azul1;
		transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
	}
}

.contact__links {
	display: flex;
	gap: 0.8rem;

	.socialInst {
		color: $cor-vermelho;
	}

	.socialLinkd {
		color: $cor-azul1;
	}

	.socialGit {
		color: $cor-cinza3;
	}
}

/* End Style Rede Sociais */
