// NOTE: importa library
@import 'library';
@import 'navigation';
@import 'header';
@import 'main';
@import 'portfolio';
@import 'social';
@import 'media-queries';
@import 'about';

:root {
	font-size: 62.5%;
}

* {
	@extend %u-no-text-decoration;
	@extend %u-no-padding;
	@extend %u-no-margin;
	box-sizing: border-box;
}

body {
	background-color: $cor2-cinza-esc;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.foto-trabalhos {
	width: 100%;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.button__link {
	color: $cor1-azul;
}
